@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

@font-face {
    font-family: 'Vogue';
    src: url('font/Vogue.ttf') format('truetype');
  }

@font-face {
    font-family: 'Butler';
    src: url('font/Butler/Butler_Regular.otf') format('truetype');
}
@font-face {
    font-family: 'grok';
    src: url('font/akzidenz-grotesk-r.otf') format('truetype');
}

:root{
    --royal-gray-light: rgb(128, 128, 128);
    --royal-gray-dark: rgb(94, 94, 94);
    --transparent: rgba(0, 0 , 0, 0);/*222eb9;*/
    --white: #fff;
    --background: #e2e3e9;
    --fonte: font-family: 'Cinzel', serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--transparent);
    padding: 1rem;
    height: 4.6875rem;
}

.logo{
    margin-top: 30px;
    height: 200px;
    width: 200px;
}

.menu{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: 0.4s;
}

.menu a:hover{
    background-color: var(--royal-blue-light);
}

.btn-menu{
    background-color: transparent;
    border: none;
    color: white;
    display: none;
}

li.off{
    display: none;
}



@media (max-width: 600px){

    .logo{
        width: 150px;
        height: 150px;
    }
    header.active{
        background-color: var(--royal-gray-dark);
    }
    
    
    .menu{
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background-color: var(--royal-gray-light);
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.6s linear;
    }

    li.off{
        display: block;
    }
    .menu.active{
        height: calc(100vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }

    .menu a{
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    }

    .menu a:hover{
        background-color: #4a59ff;;
    }

    .div{
        display: flex;
    }
    .btn-menu{
        font-size: 1.2em;
        display: flex;
        align-items: center;
        color: var(--white);
        gap: 0.5rem;
        padding-block: 1rem;
        cursor: pointer;
    }

    .hamburguer{
        border-top: 0.125rem solid;
        width: 1.25rem;
    }

    .hamburguer::after,
    .hamburguer::before{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .logo{
        z-index: 2;
    }

    .menu.active .hamburguer{
        border-top-color: transparent ;
    }
    .menu.active .hamburguer::after{
        transform: rotate(-135deg);
        top: 7px;
   }
    .menu.active .hamburguer::before{
        transform: rotate(135deg);
}

}


/* main */

.fundo{
    background-image: url(image/fundo2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 90vh;
}

.titulo{
    padding-top: 250px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo h1{
    text-align: center;
    font-size: 5em;
    font-family: 'Vogue', Arial, Helvetica, sans-serif;
}

.titulo p{
    text-align: center;
    font-size: 1.5em;
    font-family: 'butler' , 'Times New Roman', Times, serif;
    margin-top: 5vh;
    width: 50vw;
}

.bola{
    margin-top: 5vh;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #FFFFE6 ;
}



.importancia{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    background-color: #E6F5FF;
    padding-top: 5vh;
}

.importancia h2{
    font-size: 4em;
    font-family: 'grok', 'Times New Roman', Times, serif;
    text-align: center;
}

.importancia p{
    text-align: center;
    width: 50vw;
    margin-top: 5vh;
    font-size: 1.2em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.topicos{
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #A1ACB3;
}

.topicos h2{
    font-size: 5em;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
}

.topicos li{
    font-size: 1.2em;
    margin-top: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo{
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-color: #ffffff;
    padding-top: 8vh;
}

@media (max-width: 710px){

    

    .titulo h1{
        font-size: 3.5em;
    }

    .titulo p{
        width: 80vw;
        font-size: 1.2em;
    }

    .importancia p{
        width: 80vw;
        font-size: 1.1em;
    }

    .importancia h2{
        font-size: 3em;
    }

    .topicos h2{
        font-size: 3em;
    }

    .topicos li{
        font-size: 1em;
    }
}


@media (max-width: 900px){
    .topicos li{
        width: 50vw;
    }
}

@media (max-width: 500px) {
    .topicos{
        flex-direction: column;
    }

    .topicos li {
        width: 70vw;
    }
}